   

   

   .default-button {
     background-color: #f3f3f5;
  }
  ion-button {
    --border-radius: 20px;
    border-radius: 20px;
  }

  .footer-icon {
    margin-top: 10px;
    ion-icon {
      vertical-align: middle;
      font-size: 20px;
    }
    .icon-textstyle {
      font-size: 14px;
      padding-left: 5px;
      color: var(--ion-color-tertiary);
    }
  }
