<ion-header>
  <ion-toolbar class="gradient-color">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light" text-center>Job Description</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="job-des">
    <div padding-horizontal>
      <ion-item lines="none" no-padding>
        <div class="border-style">
          <div text-right class="more-icon">
            <ion-icon name="more" color="tertiary"></ion-icon>
          </div>
          <ion-row class="border">
            <ion-col size="2" no-padding>
              <div>
                <img src="assets/imgs/logo.png" alt="" />
              </div>
            </ion-col>
            <ion-col size="10">
              <p no-margin class="des-heading">
                Driver Training and Safety Coordinators
              </p>
              <p no-margin class="des-sub-heading">
                $18 - $20 hourly Full-Time
              </p>
            </ion-col>
          </ion-row>
        </div>
      </ion-item>
      <div class="border">
        <ion-row class="icon-text">
          <ion-col no-padding text-left>
            <div>
              <ion-icon name="calculator"></ion-icon>
              <span class="icon-textstyle">Gold Coast Tours</span>
            </div>
          </ion-col>
          <ion-col no-padding text-left>
            <div>
              <ion-icon name="navigate"></ion-icon>
              <span class="icon-textstyle">Anaheim;CA</span>
            </div>
          </ion-col>
          <ion-col no-padding text-left>
            <div>
              <ion-icon name="calendar"></ion-icon>
              <span class="icon-textstyle">March 21, 2019</span>
            </div>
          </ion-col>
        </ion-row>
        <p class="content-title">Description</p>
        <p class="content">
          Metal Bars Inc.offers multiple opportunities to grow for motivated and
          hard workers.Starting Pay is $17.00 to $20.00 Hourly(depending on
          experience) We're primarily looking for a very hard working.and
          motivated employee that fits tghe team.Having the experience bellow
          would be a huge plus.
        </p>
        <p class="skill-title">Preferred Experience/Skills:</p>
        <p class="content" no-padding no-margin>
          Warehouse experience
        </p>
        <p class="content" no-padding no-margin>
          Managing Inbound/Outbound shipments
        </p>
        <p class="content" no-padding no-margin>
          Physical labor(can work in a physicallly demanding environment)
        </p>
        <p class="content" no-padding no-margin>
          Taking responsibility for multiple tasks
        </p>
        <p class="content" no-padding no-margin>
          Superb organization skills
        </p>
        <p class="content" no-padding no-margin>
          Inventory management
        </p>
        <p class="content" no-padding no-margin>
          Have worked within drop ship material industry
        </p>
        <p class="content" no-padding no-margin>
          Excellent communication skills
        </p>

        <p class="skill-title">Requirements:</p>
        <p class="content" no-padding no-margin>
          Inventory management
        </p>
        <p class="content" no-padding no-margin>
          Proof of Car Insurance
        </p>
        <p class="content" no-padding no-margin>
          Means of transportation
        </p>

        <p class="skill-title">Schedule:</p>
        <p class="content" no-padding no-margin>
          Monday-Friday
        </p>
        <p class="content" no-padding no-margin padding-bottom>
          8am-5.30pm
        </p>
      </div>
      <ion-grid no-padding>
          <ion-row>
            <ion-col text-left no-padding size="2">
              <ion-icon name="logo-facebook" padding-vertical color="primary"></ion-icon>
            </ion-col>
            <ion-col text-left no-padding size="2">
              <ion-icon name="logo-linkedin" padding-vertical color="primary"></ion-icon>
            </ion-col>
            <ion-col text-left no-padding size="2">
              <ion-icon name="logo-twitter" padding-vertical color="primary"></ion-icon>
            </ion-col>
            <ion-col text-left no-padding size="2">
              <ion-icon name="mail" padding-vertical color="primary"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
    </div>
  </div>
      <div class="default-button" padding>
          <ion-button fill="outline" expand="block"
            ><span class="ion-text-capitalize">Send Messages</span></ion-button
          >
        </div>
</ion-content>

<ion-footer>
    <ion-toolbar colour="light">
     <ion-grid no-padding>
       <ion-row padding-horizontal>
         <ion-col size="6" no-padding>
            <div class="footer-icon">
                <ion-icon name="heart-empty" color="tertiary"></ion-icon>
                <span class="icon-textstyle" color="tertiary">Save to favorites</span> 
            </div>
         </ion-col>
         <ion-col size="6" no-padding>
          <div (click)="jobapply()">
            <ion-button button-clear expand="block" class="gradient-button"><span class="ion-text-capitalize">Apply</span></ion-button>
          </div>
         </ion-col>
       </ion-row>
     </ion-grid>
    </ion-toolbar>
</ion-footer>
