<ion-header>
  <ion-toolbar class="gradient-color">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light" text-center>My Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <div class="company-profile">
      <div text-center>
        <img margin-top src="assets/imgs/logo.png" alt="" class="user-logo" />
        <h2 no-padding no-margin>Benny Williams</h2>
        <p>(Charter Bus Tour Driver)</p>
          <p>
              <ion-icon name="navigate"></ion-icon>
              <span class="icon-textstyle"> Anaheim, CA</span>
          </p>
         
      </div>
    </div>
    <br />
    <div padding-horizontal>
      
      <div class="default-button" padding>
        <ion-button fill="outline" expand="block" shape="round" padding-horizontal
          ><span class="ion-text-capitalize">Edite Profile</span></ion-button
        >
      </div>
      <ion-grid no-padding>
          <ion-row class="custom-border">
            <ion-col text-center no-padding>
              <ion-icon name="logo-facebook" padding></ion-icon>
            </ion-col>
            <ion-col text-center no-padding>
              <ion-icon name="logo-linkedin" padding></ion-icon>
            </ion-col>
            <ion-col text-center no-padding>
              <ion-icon name="logo-twitter" padding></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      <div margin-top>
          <p class="skill-title">About me</p>
          <p no-margin no-padding margin-top>
              <span class="content"
                >Gold Coast Tours is a full-service charter bus company based in Orange
                Country.specializing in motor coach rental across the contiguous 48
                States and Canada. We have a fleet comprised of Sedans, 15-Passenger
                Vans,Luxury and Limo Buses specializing in Corporate and group travel
                for many 'Fortune 500'campanies,as well as many local senior and
                individual group.
              </span>
            </p>
      </div>
    </div>
  <br>
  </ion-content>
