<ion-header>
  <ion-toolbar class="gradient-color">
    <ion-buttons>
      <ion-back-button slot="start"></ion-back-button>
    </ion-buttons>
    <ion-title>Job Preferences</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-card>
      <ion-item lines="none">
        <ion-icon class="logo-color" name="alarm" slot="start"></ion-icon>
        <ion-label>Job Type</ion-label>
        <ion-icon name="arrow-down"></ion-icon>
      </ion-item>
      <div padding class="list-color">
        <ion-list>
          <ion-item lines="none">
            <ion-label>Full Time</ion-label>
            <ion-checkbox color="primary"></ion-checkbox>
          </ion-item>
          <ion-item lines="none">
            <ion-label>Part Time</ion-label>
            <ion-checkbox color="primary"></ion-checkbox>
          </ion-item>
        </ion-list>
      </div>

      <ion-item lines="none">
        <ion-icon class="logo-color" name="grid" slot="start"></ion-icon>
        <ion-label>Job Category</ion-label>
        <ion-icon name="arrow-down"></ion-icon>
      </ion-item>

      <div padding class="list-color">
        <ion-list>
          <ion-item lines="none">
            <ion-label>CNC Lathe</ion-label>
            <ion-checkbox color="primary"></ion-checkbox>
          </ion-item>
          <ion-item lines="none">
            <ion-label>CNC Set-up</ion-label>
            <ion-checkbox color="primary"></ion-checkbox>
          </ion-item>
          <ion-item lines="none">
            <ion-label>Planner / Estimator</ion-label>
            <ion-checkbox color="primary"></ion-checkbox>
          </ion-item>
          <ion-item lines="none">
            <ion-label>Office Clericel</ion-label>
            <ion-checkbox color="primary"></ion-checkbox>
          </ion-item>
          <ion-item lines="none">
            <ion-label>Commercial Construction</ion-label>
            <ion-checkbox color="primary"></ion-checkbox>
          </ion-item>
          <ion-item lines="none">
            <ion-label>Electrical Discharge Machining</ion-label>
            <ion-checkbox color="primary"></ion-checkbox>
          </ion-item>
          <ion-item lines="none">
            <ion-label>Driver</ion-label>
            <ion-checkbox color="primary"></ion-checkbox>
          </ion-item>
          <ion-item lines="none">
            <ion-label>Mechanic</ion-label>
            <ion-checkbox color="primary"></ion-checkbox>
          </ion-item>
          <ion-item lines="none">
            <ion-label>Bank Office / Administration</ion-label>
            <ion-checkbox color="primary"></ion-checkbox>
          </ion-item>
          <ion-item lines="none">
            <ion-label>General Labor</ion-label>
            <ion-checkbox color="primary"></ion-checkbox>
          </ion-item>
        </ion-list>
      </div>

      <ion-item lines="none">
        <ion-icon class="logo-color" name="settings" slot="start"></ion-icon>
        <ion-label>Job Location</ion-label>
        <ion-icon name="arrow-down"></ion-icon>
      </ion-item>

      <div padding class="list-color">
        <ion-list>
          <ion-item lines="none">
            <ion-label>Anaheim, CA</ion-label>
            <ion-checkbox color="primary"></ion-checkbox>
          </ion-item>
          <ion-item lines="none">
            <ion-label>Brea, CA</ion-label>
            <ion-checkbox color="primary"></ion-checkbox>
          </ion-item>
          <ion-item lines="none">
            <ion-label>City of Industry, CA</ion-label>
            <ion-checkbox color="primary"></ion-checkbox>
          </ion-item>
          <ion-item lines="none">
            <ion-label>Huntington, CA</ion-label>
            <ion-checkbox color="primary"></ion-checkbox>
          </ion-item>
          <ion-item lines="none">
            <ion-label>Los Angeles, CA</ion-label>
            <ion-checkbox color="primary"></ion-checkbox>
          </ion-item>
          <ion-item lines="none">
            <ion-label>Santa Fe Springs, CA</ion-label>
            <ion-checkbox color="primary"></ion-checkbox>
          </ion-item>
        </ion-list>
      </div>
    </ion-card>
  </div>
</ion-content>
