<ion-header>
  <ion-toolbar class="gradient-color">
    <ion-buttons>
      <ion-back-button slot="start" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Job Preferences</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="jobscustom-card info-card">
        <ion-card no-padding>
          <div text-wrap
          (click)="toggleLevel1('idx one')"
          [ngClass]="{ active: isLevel1Shown('idx one') }">
              <div padding>
                  <ion-icon name="paper" slot="start" class="custom-main-icon"></ion-icon>
                  <span class="main-icon-text">Job Type</span>
                  <ion-icon class="arrow-icon"
                      slot="end"
                      [name]="isLevel1Shown('idx one') ? 'ios-arrow-up' : 'ios-arrow-down'"
                      color="secondary"
                    ></ion-icon>
                </div>
            <div *ngIf="isLevel1Shown('idx one')">
              <div class="list-padding">
                  <ion-list class="list-border">
                    <ion-item lines="none">
                      <ion-label>Full Time</ion-label>
                      <ion-checkbox color="primary"></ion-checkbox>
                    </ion-item>
                    <ion-item lines="none">
                      <ion-label>Part Time</ion-label>
                      <ion-checkbox color="primary"></ion-checkbox>
                    </ion-item>
                  </ion-list>
                </div>
            </div> 
          </div>
          <div text-wrap
          (click)="toggleLevel1('idx two')"
           [ngClass]="{ active: isLevel1Shown('idx two') }">
              <div padding>
                  <ion-icon name="paper" slot="start" class="custom-main-icon"></ion-icon>
                  <span class="main-icon-text">Job Type</span>
                  <ion-icon class="arrow-icon"
                      slot="end"
                      [name]="isLevel1Shown('idx two') ? 'ios-arrow-up' : 'ios-arrow-down'"
                      color="secondary"
                    ></ion-icon>
                </div>
            <div *ngIf="isLevel1Shown('idx two')">
              <div class="list-padding">
                  <ion-list class="list-border">
                    <ion-item lines="none">
                      <ion-label>Full Time</ion-label>
                      <ion-checkbox color="primary"></ion-checkbox>
                    </ion-item>
                    <ion-item lines="none">
                      <ion-label>Part Time</ion-label>
                      <ion-checkbox color="primary"></ion-checkbox>
                    </ion-item>
                  </ion-list>
                </div>
            </div> 
          </div>
          <div text-wrap
          (click)="toggleLevel1('idx three')"
           [ngClass]="{ active: isLevel1Shown('idx three') }">
              <div padding>
                  <ion-icon name="paper" slot="start" class="custom-main-icon"></ion-icon>
                  <span class="main-icon-text">Job Type</span>
                  <ion-icon class="arrow-icon"
                      slot="end"
                      [name]="isLevel1Shown('idx three') ? 'ios-arrow-up' : 'ios-arrow-down'"
                      color="secondary"
                    ></ion-icon>
                </div>
            <div *ngIf="isLevel1Shown('idx three')">
              <div class="list-padding">
                  <ion-list class="list-border">
                    <ion-item lines="none">
                      <ion-label>Full Time</ion-label>
                      <ion-checkbox color="primary"></ion-checkbox>
                    </ion-item>
                    <ion-item lines="none">
                      <ion-label>Part Time</ion-label>
                      <ion-checkbox color="primary"></ion-checkbox>
                    </ion-item>
                  </ion-list>
                </div>
            </div> 
          </div>
        </ion-card>
    </div></ion-content>
  <!-- <div>
    <ion-card>
      <ion-item lines="none">
        <ion-icon class="logo-color" name="alarm" slot="start"></ion-icon>
        <ion-label>Job Type</ion-label>
        <ion-icon name="arrow-down"></ion-icon>
      </ion-item>
      <div padding class="list-color">
        <ion-list>
          <ion-item lines="none">
            <ion-label>Full Time</ion-label>
            <ion-checkbox color="primary"></ion-checkbox>
          </ion-item>
          <ion-item lines="none">
            <ion-label>Part Time</ion-label>
            <ion-checkbox color="primary"></ion-checkbox>
          </ion-item>
        </ion-list>
      </div>

      <ion-item lines="none">
        <ion-icon class="logo-color" name="grid" slot="start"></ion-icon>
        <ion-label>Job Category</ion-label>
        <ion-icon name="arrow-down"></ion-icon>
      </ion-item>

      <div padding class="list-color">
        <ion-list>
          <ion-item lines="none">
            <ion-label>CNC Lathe</ion-label>
            <ion-checkbox color="primary"></ion-checkbox>
          </ion-item>
          <ion-item lines="none">
            <ion-label>CNC Set-up</ion-label>
            <ion-checkbox color="primary"></ion-checkbox>
          </ion-item>
          <ion-item lines="none">
            <ion-label>Planner / Estimator</ion-label>
            <ion-checkbox color="primary"></ion-checkbox>
          </ion-item>
          <ion-item lines="none">
            <ion-label>Office Clericel</ion-label>
            <ion-checkbox color="primary"></ion-checkbox>
          </ion-item>
          <ion-item lines="none">
            <ion-label>Commercial Construction</ion-label>
            <ion-checkbox color="primary"></ion-checkbox>
          </ion-item>
          <ion-item lines="none">
            <ion-label>Electrical Discharge Machining</ion-label>
            <ion-checkbox color="primary"></ion-checkbox>
          </ion-item>
          <ion-item lines="none">
            <ion-label>Driver</ion-label>
            <ion-checkbox color="primary"></ion-checkbox>
          </ion-item>
          <ion-item lines="none">
            <ion-label>Mechanic</ion-label>
            <ion-checkbox color="primary"></ion-checkbox>
          </ion-item>
          <ion-item lines="none">
            <ion-label>Bank Office / Administration</ion-label>
            <ion-checkbox color="primary"></ion-checkbox>
          </ion-item>
          <ion-item lines="none">
            <ion-label>General Labor</ion-label>
            <ion-checkbox color="primary"></ion-checkbox>
          </ion-item>
        </ion-list>
      </div>

      <ion-item lines="none">
        <ion-icon class="logo-color" name="settings" slot="start"></ion-icon>
        <ion-label>Job Location</ion-label>
        <ion-icon name="arrow-down"></ion-icon>
      </ion-item>

      <div padding class="list-color">
        <ion-list>
          <ion-item lines="none">
            <ion-label>Anaheim, CA</ion-label>
            <ion-checkbox color="primary"></ion-checkbox>
          </ion-item>
          <ion-item lines="none">
            <ion-label>Brea, CA</ion-label>
            <ion-checkbox color="primary"></ion-checkbox>
          </ion-item>
          <ion-item lines="none">
            <ion-label>City of Industry, CA</ion-label>
            <ion-checkbox color="primary"></ion-checkbox>
          </ion-item>
          <ion-item lines="none">
            <ion-label>Huntington, CA</ion-label>
            <ion-checkbox color="primary"></ion-checkbox>
          </ion-item>
          <ion-item lines="none">
            <ion-label>Los Angeles, CA</ion-label>
            <ion-checkbox color="primary"></ion-checkbox>
          </ion-item>
          <ion-item lines="none">
            <ion-label>Santa Fe Springs, CA</ion-label>
            <ion-checkbox color="primary"></ion-checkbox>
          </ion-item>
        </ion-list>
      </div>
    </ion-card>
  </div>
</ion-content> -->
