<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title class="small-title">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="page-logo" text-center>
    <img src="assets/imgs/logo.png" alt="" />
  </div>
  <div class="form" padding-horizontal>
    <ion-list lines="none" no-margin no-padding>
      <ion-item class="custom-input-item">
        <ion-label position="stacked" class="input-title">E-mail</ion-label>
        <ion-input type="text" placeholder="Enter Email"></ion-input>
      </ion-item>
      <ion-item class="custom-input-item">
        <ion-label position="stacked" class="input-title">Password</ion-label>
        <ion-input
          class="password"
          type="password"
          placeholder="Enter Password"
        ></ion-input>
      </ion-item>
      <ion-item class="custom-input-item">
        <ion-label position="stacked" class="input-title"
          >Confirm Password</ion-label
        >
        <ion-input
          class="password"
          type="password"
          placeholder="Enter Confirm Password"
        ></ion-input>
      </ion-item>
    </ion-list>
    <div class="fixed-bottom spacing">
        <br>
      <p text-center>
        By signing up you agree with the<span> Terms & Conditions</span> and
        <span> Privacy Policy </span>
      </p>
    </div>
    <div class="fixed-button">
      <ion-button expand="block" class="gradient-button" (click)="signup()"
        ><span class="ion-text-capitalize">Continue</span></ion-button
      >
    </div>
  </div>
</ion-content>
