<ion-content>
  <div class="gradient-color">
    <div class="user-image">
      <img src="assets/imgs/background.jpg" />
      <!-- <span>Edite</span> -->
      <h2>Megan Johnson</h2>
      <p>Santa Ana, CA</p>
    </div>
  </div>

  <div class="jobscustom-card info-card">
    <ion-card>
      <div padding>
        <ion-icon name="paper" slot="start" class="custom-main-icon"></ion-icon>
        <span class="main-icon-text">My Resume</span>
      </div>
    </ion-card>
    <ion-card>
      <div padding>
        <ion-icon
          name="funnel"
          slot="start"
          class="custom-main-icon"
        ></ion-icon>
        <span class="main-icon-text">Job Preferences</span>
      </div>
    </ion-card>
    <ion-card>
      <div padding>
        <ion-icon
          name="person"
          slot="start"
          class="custom-main-icon"
        ></ion-icon>
        <span class="main-icon-text">Profile</span>
      </div>
    </ion-card>
    <ion-card>
      <div padding>
        <ion-icon
          name="settings"
          slot="start"
          class="custom-main-icon"
        ></ion-icon>
        <span class="main-icon-text">Account</span>
      </div>
    </ion-card>
  </div>
</ion-content>
