.gradient-color {
  height: 200px;
  .user-image {
    text-align: center;
    img {
      border-radius: 50%;
      border: 5px solid white;
      height: 100px;
      margin-top: 30px;
      width: 100px;
    }
    h2 {
      font-size: 16px;
      color: white;
      margin-top: 10px;
    }
    p {
      color: white;
      font-size: 9px;
    }
  }
}
.info-card {
  ion-card {
    background-color: white;
    .custom-main-icon {
      color: var(--ion-color-primary);
      vertical-align: middle;
      font-size: 20px;
    }
    .main-icon-text {
      padding-left: 10px;
      color: var(--ion-color-tertiary);
      font-weight: 500;
    }
  }
  
}
