<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="signuplogo-img" text-center>
      <img src="assets/imgs/logo.png" alt="">
  </div>
<div>
  <h2 text-center>Resume Uploaded</h2>
  <p class="detail">You can delete or replace Your resume any time in your accound settings</p>
  <p class="pdf">
    <ion-icon name="document" slot="start"></ion-icon>
    <span>William_Smith_Res.pdf</span>
  </p>
  <div class="fixed-button">
      <ion-button button-clear expand="block" class="gradient-button" (click)="signupsix()"><span class="ion-text-capitalize">Continue</span></ion-button>
    </div>
</div>
</ion-content>