<ion-header>
  <ion-toolbar class="gradient-color">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light" text-center>Confirmation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <img src="assets/imgs/confirm-logo.png" alt="">
  </div>
  <h2 text-center ion-text>Application Submitted</h2>
  <p text-center class="custom-text">Your application for <b>Driver Trainer</b> and <b>Safety Coordinator</b> to <b>Gold Goast Tours</b> has been submitted</p>

  <div class="fixed-button">
    <ion-button button-clear expand="block" class="gradient-button"><span class="ion-text-capitalize">Ok</span></ion-button>
  </div>
</ion-content>
