<ion-header>
  <ion-toolbar class="gradient-color">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light" text-center>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="jobscustom-card info-card">
        <ion-card>
            <div padding>
              <ion-icon name="ios-mail" slot="start" class="custom-main-icon"></ion-icon>
              <span class="main-icon-text">Email & Password</span>
              <ion-icon name="ios-arrow-down" slot="end" class="arrow-icon" color="secondary"></ion-icon>
            </div>
            <div padding>
                <ion-icon name="ios-notifications-outline" slot="start" class="custom-main-icon"></ion-icon>
                <span class="main-icon-text">Notification Settings</span>
                <ion-icon name="ios-arrow-down" slot="end" class="arrow-icon" color="secondary"></ion-icon>
              </div>
              <div padding>
                  <ion-icon name="ios-eye" slot="start" class="custom-main-icon"></ion-icon>
                  <span class="main-icon-text">Privacy</span>
                  <ion-icon name="ios-arrow-down" slot="end" class="arrow-icon" color="secondary"></ion-icon>
                </div>
          </ion-card> 
  <ion-card>
    <div padding>
      <ion-icon name="paper" slot="start" class="custom-main-icon"></ion-icon>
      <span class="main-icon-text">Privacy Policy</span>
    </div>
  </ion-card>
  <ion-card>
    <div padding>
      <ion-icon name="list-box" slot="start" class="custom-main-icon"></ion-icon>
      <span class="main-icon-text">Log Out</span>
    </div>
  </ion-card>
  </div>
</ion-content>
