<ion-header>
  <ion-toolbar class="gradient-color">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light" text-center>My Resume</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="res-img">
    <img src="assets/imgs/confirm-logo.png" alt="" />
  </div>

  <div>
    <h2 class="text-cl">
      You do not have a <span padding-horizontal>Resume on file</span>
    </h2>
  </div>

  <div class="resume-upload">
    <h6>Uploaded a Resume</h6>
    <p class="p-tag">pdf,doc,txt,rft accepted</p>
  </div>
  <p>Or use our resume builder</p>

  <div class="fixed-button">
    <ion-button button-clear expand="block" class="gradient-button"
      ><span class="ion-text-capitalize">Create New Resume</span>
    </ion-button>
  </div>
</ion-content>
